/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
  } */

/* img { 
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
} */

img { 
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    max-width:100%; 
    height:auto; 
    object-fit: contain;

}  
.container {
    width: auto;
    max-width: auto;
    padding: 0 15px;
  }

.about-me-h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.help-me {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}